.principal{ background: #cccccc;
    padding: 30px
}

.titulo-principal{ padding-left: 20px;}

#bnr{ width: 100%;}

p{ text-align: center;}

#missao{ font-size: 20px;}

em strong { color: rgb(0,0,255);}

h2{ text-align: center;}

.beneficio{background: rgb(255,255,255);
    padding: 20px;
}

h3{ text-align: center;}

ul { display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{ font-style: italic;}

#bnf { width: 50%;}
